{{#post}}
<div class="cover-wrap">
	<div class="cover archive-cover align-center {{#if feature_image}}has-image" style="background-image: url({{feature_image}});"{{else}}no-image"{{/if}}>
		<div class="overlay">
				<h1 class="title h2">{{title}}</h1>
		</div>
	</div>
</div>
{{/post}}