<!-- start tag widget -->
<div class="widget">
    <h4 class="widget-title">{{t "Follow Us"}}</h4>
    <div class="content follow-social">
        {{> social-links}}
    </div>
</div>
<!-- end tag widget -->
