{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start post listing -->
<section class="content-area">
	<div class="container">
		{{> loop}}
	</div>
</section>
<!-- end container -->
